/* @override 
	http://geekdom.com/themes/geekdom/default_site/global_embeds.group/sanfran.css */

div#funding-btn {
  visibility:hidden;
}

article#sanantonio #welcome-container {
	background-image: url('../images/bg-sf-home.jpg.png');
	height: 300px;
	font-weight: bold;
}

#whatis p {
	font: bold 40px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 50px;
	margin-top: 15px;
}

.red {
	color: #ce0e13;
}

.pillar-description {
	display: inline-block;
	height: 180px;
}



#pillars {
	height: 290px;
}

#div.whatis {
	
}

article#sanantonio #welcome #whatis {
	background-color: rgba(255, 255, 255, 0);
}

article#mission #pillars .pillar .pillar-description {
  top: 60px;
  width: 250px;
  font-size: 16px;
  margin-top: 0px;
  padding: 0px 20px;
  border: none;
  text-align: left;
  
}

article#mission #pillars .pillar {
  display: inline-block;
  position: relative;
  top: 0;
  cursor: pointer;
  text-align: center;
  width: 250px;
  padding: 10px 10px;
  margin: 10px 15px;
  border:none;
  }
  
    #mission div.center p span.highlight, #mission div.center p span.highlight a {
  	color: #000000;
  }
  
  article#mission #pillars .pillar .pillar-title {
    padding: 0px 0px 0px;
  }
  
  article#mission #pillars .pillar {
  	text-align: left;
  	padding-top: 0px;
  	padding-bottom: 10px;
  	margin-top: 0px;
  	margin-bottom: 0px;
  }
  
  div.cta {
  	margin-top: 0px;
  	padding-top: 0px;
  	top: 0px;
  	clear: both;
  }
  
  .founder {
		font-size: 16px;
		font-weight: bold;
		  }
		  



